html,body{
	font-family: "League Gothic", sans-serif;
	font-size:24px;
	color:#18AA00;
	background-color: #80EA69;
}

h1{
    font-size:12vw;
	text-align: center;
	margin-top:15%;
}

ul{
    text-align:center;
    list-style: none;
}

li{
    margin:0 0 0.5em;
}

a{
    color:inherit;
}
a:hover{
    color:#ddd6d6;
}